body {
    background-color: #3F72AF;
    color: white;
    font-family: "Space Mono", "Courier New", monospace;
}

.banner {
    background-color: #112D4E;
    color: white;
    text-align: left;
    padding: 4px 20px;
    font-size: 16px;
    font-family: "Space Mono", "Courier New", monospace;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.content {
    padding: 20px 0px; /*pushes the rest of the website down*/
    font-size: 16px;

}